<h1>HEROES</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado</td>
  <dd>{{ capitalizeName }}</dd>

</dl>

<button
  *ngIf="name!='spiderman'"
  (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar Nombre
</button>

<button
  *ngIf="age != 77"
  (click)="changeAge()" class="btn btn-primary  mx-2">
  Cambiar Edad
</button>

<button
  *ngIf="name!='Ironman' || age!=45"
  (click)="resetHero()" class="btn btn-success mx-2">
  Reset
</button>
